.Nav li {
  display: flex;
  text-decoration: none
}

.userCredentail i {
     width: 40px;
     height: 40px;
}
.userCredentail p {
     font-size: 15px;
     font-weight: 700;
} 
.userCredentail i {
    font-weight: lighter;
} 
.navigation p{
    width: 100%;
    height: 2px;
   
}

.navigation li {
     display: flex;
     flex-direction: column;
     text-align: center;
     height: 60%;
     justify-content: space-between;
    
}

.navigation li:hover p {
    background-color: #FF3F6C; /* Change this to the desired color */
    transition: 1s;
}